body{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fcf9f7;
}

header {
    margin-bottom: 50px;
    font-size: 40px;
}

#detail-name {
    font-size: 40px;
}

#big-meme-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-image{
    display: flex;
    margin-bottom: 50px;
    height: 450px;
    padding: 10px;
    border: 10px solid black;
    border-radius: 15px;
}

#meme-container {
    display: flex;
    overflow-x: auto;
    overflow-y: scroll;
    /*margin: 1rem 0;*/
    max-width: calc(100vw - 2rem);
    justify-content: center;
    align-items:center;
    padding: 10px;
    border: 10px solid black;
    border-radius: 15px;
}

#meme-container img {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.5rem;
    cursor: pointer;
}

#meme-container img:hover{
    opacity: 0.75;
}