body{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fcf9f7;
}

header {
    margin-bottom: 2%;
    font-size: 40px;
}

#detail-name {
    font-size: 40px;
}

#big-meme-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-image{
    display: flex;
    overflow: auto;
    margin-bottom: 2.5%;
    height: 450px;
    padding: 10px;
    border: 10px solid black;
    border-radius: 15px;
}

#search-bar {
    margin-bottom: 2.5%;
}

#search-input{
    height: 50px;
    width: 25%;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
}

button {
    background-color:rgb(161, 166, 170);
    height: 50px;
    width: 100px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
}

button:active {
    transform: translateY(3px);
}

button:hover {
    opacity: .75;
}

#meme-menu {
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
    margin-bottom: 5%;
    justify-content: center;
    align-items:center;
}

#meme-container {
  width: 52.5%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 10px solid black;
  border-radius: 15px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

#meme-container img {
  height: 200px;
  width: 200px;
  object-fit: fill;
  padding: 5px;
  cursor: pointer;
  scroll-snap-align: start;
}

#meme-container img:hover {
  opacity: 0.75;
}
